$grid-gutter: 15px;
$block-padding-height: 130px;
$font-family-base: 'Source Sans Pro';
$font-size-base: 22px;
$line-height-base: 1.55;
$heading-font-family: 'Lato';
$heading-font-size-1: 44px;
$heading-margin-1: 40px;
$p-margin-bottom: $heading-margin-1;
$color-brand: #506a85;
$color-primary: #00bc9c;
$color-gray: #f2f5f7;
$body-color: $color-brand;
$link-color: $body-color;
$link-color-hover: $color-primary;
$container-width: 1165px;
//form
$form-color: #fff;
$form-bg: #596675 ;
$form-border: none ;
$form-height: 40px ;
$form-padding-x: 5px ;
// button
$btn-color: #fff;
$btn-font-size: 15px;
$btn-bg: $color-primary;
$btn-border: none;
$btn-border-radius: 2px;
$btn-padding: 20px 25px;
$btn-color-hover:  #fff;
$btn-bg-hover: #17a78b;
$btn-border-color-hover: none;
//footer
$footer-color: #a3b1bf;
$footer-bar-color: #707e8c;